body {background-color:black;}

title{font-color: white;}

h1{color:white;
	text-align: center;}

nav {margin-left: 146px;
}

a{text-decoration: none;
color: yellow; }

a:hover {opacity: 0,8;
color: blue;}

.titre {display:block;
	margin : 5 5 5 100;
	float: left;
	list-style: none;
    font-family: verdana;
    font-size: 23px;
background-color:white;
}
.titre a { color: black;}

.titre li {display:block;
	padding: 0 0,5em;
	margin-right: 40px;
	float: left;
	list-style: none;
    font-family: verdana;
    font-size: 23px;
background-color:white;
}

.clear {clear: both;}

    img {display:block;
    	height:450x;
    	width: 300;
    	width:50%;
    	float:right;
    margin-left:auto;
    margin-right:50px;
border-radius: 8%
 }


    aside {width: 30%;
    	float: left;
    	color: white;
    	margin-left:80px;
    	margin-bottom: 50px;
    	margin-top: 50px;
    	font-family: Verdana;
    	font-size: 18px;
    }

    section{clear: both;}

   #formation {background-color: white;
   	font-color:black;
margin-top: 10px;}

   #formation .h2 {
   	font-color:black; 
}


   #exp {background-color: black;
   	color:white;
   }

   #exp .h2 {
 color:white;
}

 #divers {background-color: white;
   	font-color:black;
 }

   #divers .h2 {
   	font-color:black;;
   margin-top: 10px}

   #centres {background-color: black;
   	color:white;}

   #centres .h2 {
   color:white;
   margin-top: 10px}

   .white {background-color: white;color: white;}
   .black {background-color: black;color: black;}




