body {background-image: url(fond1.jpeg);}

h1{text-align: center;}

nav {margin-left: 200px;}

.yep{
  font-family: blue;
  color: blue;
}

a{text-decoration: none; }


a:hover {opacity: 0,8;}

#rs li {list-style-type: none;
text-decoration: none;
float: left;
margin-left: 20px;
}

.titre {display:block;
	margin : 5 5 5 100;
	float: left;
	list-style: none;
    font-family: verdana;
    font-size: 23px;
}
.titre a { color: black;}

.titre li {display:block;
	padding: 0 0,5em;
	margin-right: 40px;
	float: left;
	list-style: none;
    font-family: verdana;
    font-size: 23px;
}

.clear {clear: both;}

    img {display:block;
    	height:200px;
    	width: 50px;
    	width:25%;
    	float:right;
    margin-left:auto;
    margin-right:200px;
    margin-top: 30px;
border-radius: 2%;
 }


    aside {width: 30%;
    	float: left;
    	color: #2E353D;
    	margin-left:80px;
    	margin-bottom: 50px;
    	margin-top: 50px;
    	font-family: Verdana;
    	font-size: 18px;
      border : 1px solid black ;
      padding-top:5px;
      padding-bottom: 5px;
      padding-left: 10px;
    }

    section{clear: both;}

   #formation {
   	font-color:#2E353D;
margin-top: 10px;}

   #formation .h2 {
   	font-color:#2E353D; 
}



@media (max-width:320px) {  /*small mobile*/
  h1 {
    font-size : 15px;
  }
}
@media (min-width:321px) and (max-width:959px) {  /*tablet*/
  h1 {
    font-size : 20px; 
  }
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/
  h1 {
    font-size : 30px;
  }
}
@media (min-width:1600px) {  /*desktop and tv*/
  h1 {
    font-size : 50px;
  }
}



